<div class="container main-container">
    <h1>Calculo CDB</h1>

    <form novalidate (ngSubmit)="fazerCalculoCDB()" [formGroup]="cdbForm">

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">CDB</label>
            <div class="col-md-10">
                <input class="form-control" id="valorMonetario" type="number"
                    placeholder="Digite um valor monetário positivo."
                    formControlName="valorMonetario" min="0" step="0.01"
                    [ngClass]="{'is-invalid': validarCampoCDB(valorMonetario) }" />
                <span class="text-danger" *ngIf="validarCampoCDB(valorMonetario)">
                    Digite um um valor monetário positivo.
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Mes</label>
            <div class="col-md-10">
                <input class="form-control" id="mes" 
                type="number" placeholder="Digite um prazo em meses maior que 1(um)." 
                formControlName="mes" min="2"
                [ngClass]="{'is-invalid': validarCampoMes(mes) }" />
                <span class="text-danger" *ngIf="validarCampoMes(mes)">
                    Digite um prazo em meses maior que 1(um).
                </span>
            </div>
        </div>      

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="Calcular" [disabled]="!cdbForm.valid" type="submit">Calcular</button></span>
            </div>
        </div>

        <div class="alert alert-success" *ngIf="cdbResultado != null">
            <h3 id="msgResultado">Resultado do rendimento CDB:</h3>
            <ul>
                <li id="rendBruto">Rendimento bruto: {{ cdbResultado.bruto }}</li>
                <li id="rendLiquido">Rendimento liquido: {{ cdbResultado.liquido }}</li>
            </ul>
        </div>
       
    </form>
</div>
